* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen {
  width: 80vw;
  display: block;
  border: none;
  background: rgb(41, 41, 51);
  font-size: 50px;
  color: whitesmoke;
  padding: 2rem;
}

.btn {
  width: 20vw;
  display: inline-block;
  padding: 2rem 0;
  border-radius: 2px;
  flex: wrap;
}

.yellow-btn {
  background: rgb(241, 238, 34);
}

.grey-btn {
  background: lightgray;
}

.equal {
  width: 20vw;
  display: inline-block;
  padding: 2rem 0;
  border-radius: 2px;
  flex: wrap;
  background: lime;
}
.clear {
  width: 20vw;
  display: inline-block;
  padding: 2rem 0;
  border-radius: 2px;
  flex: wrap;
  background: red;
}
